In [109]:
using DataFrames, CSV, Statistics, Plots

In [110]:
file = "/home/mikhail/.cache/kagglehub/datasets/shashanks1202/apartment-rent-data/versions/1/apartments_for_rent_classified_100K/apartments_for_rent_classified_100K.csv"

# df = Impute.dataset(CSV.File(file)) |> DataFrame
df = DataFrame(CSV.File(file))
df[1:1, :];

1×22 DataFrame
 Row │ id          category                title                       body    ⋯
     │ Int64       String31                String                      String  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 5668640009  housing/rent/apartment  One BR 507 & 509 Esplanade  This un ⋯
                                                              19 columns omitted

In [92]:
df[!, :bathrooms] = [item == "null" ? missing : item for item in df[:, :bathrooms]]
df[!, :bathrooms] = passmissing(parse).(Float64, df[:, :bathrooms]); # float, missing
m = median(skipmissing(df.bathrooms))
df[!, :bathrooms] = [ismissing(item) ? m : item for item in df[:, :bathrooms]]

df[!, :amenities] = [item == "null" ? missing : item for item in df[:, :amenities]] # array of strings, missing

df[!, :bedrooms] = [item == "null" ? missing : item for item in df[:, :bedrooms]]
df[!, :bedrooms] = passmissing(parse).(Int64, df[:, :bedrooms]); # int, missing
m = median(skipmissing(df.bedrooms))
df[!, :bedrooms] = [ismissing(item) ? m : item for item in df[:, :bedrooms]]


df[!, :price] = [item == "null" ? missing : item for item in df[:, :price]]
df[!, :price] = passmissing(parse).(Float64, df[:, :price]); # float, missing
m = median(skipmissing(df.price))
df[!, :price] = [ismissing(item) ? m : item for item in df[:, :price]]

#??
df[!, :fee] = [item == "Yes" ? 1 : 0 for item in df[:, :fee]]
df[!, :has_photo] = [item == "Yes" ? 1 : (item == "Thumbnail" ? 0 : -1) for item in df[:, :has_photo]]

df[!, :pets_allowed] = [item == "null" ? missing : item for item in df[:, :pets_allowed]]
df[!, :pets_allowed] = [ismissing(item) ? missing : (item == "None" ? 0 : size(split(item, ","))[1]+1) for item in df[:, :pets_allowed]]
df[!, :pets_allowed] = [ismissing(item) ? 0 : item for item in df[:, :pets_allowed]]


# currency - constant, USD
# fee - Yes, No - additional service
# has_photo - Yes, No, Thumbnail
# pets_allowed - Array of pets, None, null
# price_type - Monthly, Weekly, Monthly|Weekly
# state - state short name
;

In [93]:
df[1:1, :]

1×22 DataFrame
 Row │ id          category                title                       body    ⋯
     │ Int64       String31                String                      String  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 5668640009  housing/rent/apartment  One BR 507 & 509 Esplanade  This un ⋯
                                                              19 columns omitted

In [96]:
Matrix(df[!, [:fee, :price]])

99492×2 Matrix{Float64}:
 0.0  2195.0
 0.0  1250.0
 0.0  1395.0
 0.0  1600.0
 0.0   975.0
 0.0  1250.0
 0.0  1600.0
 0.0  1300.0
 0.0   795.0
 0.0  2150.0
 0.0  1795.0
 0.0  3195.0
 0.0  2395.0
 ⋮
 0.0  4495.0
 0.0   945.0
 0.0  1450.0
 0.0  3200.0
 0.0  1035.0
 0.0  4395.0
 0.0   798.0
 0.0   780.0
 0.0   813.0
 0.0  1325.0
 0.0   931.0
 0.0  1595.0

In [100]:
cols = [:bathrooms, :bedrooms, :fee, :has_photo, :pets_allowed, :price]
dfcor = [cols DataFrame(cor(Matrix(df[!, cols])), cols)]
dfcor = cor(Matrix(df[!, cols]))
(n,m) = size(dfcor)
heatmap(M, fc=cgrad(cols), xticks=(1:m,cols), xrot=90, yticks=(1:m,cols), yflip=true)
annotate!([(j, i, text(round(M[i,j],digits=3), 8,"Computer Modern",:black)) for i in 1:n for j in 1:m])

LoadError: UndefVarError: `cgrad` not defined in `Main`
Suggestion: check for spelling errors or missing imports.

In [94]:
unique(df[!, [:bathrooms]])

16×1 DataFrame
 Row │ bathrooms
     │ Float64
─────┼───────────
   1 │       1.0
   2 │       1.5
   3 │       2.0
   4 │       2.5
   5 │       3.0
   6 │       3.5
   7 │       4.0
   8 │       7.0
   9 │       4.5
  10 │       5.0
  11 │       8.0
  12 │       8.5
  13 │       6.0
  14 │       5.5
  15 │       9.0
  16 │       7.5

17×1 DataFrame
 Row │ bathrooms
     │ String7?
─────┼───────────
   1 │ 1
   2 │ 1.5
   3 │ 2
   4 │ 2.5
   5 │ 3
   6 │ 3.5
   7 │ 4
   8 │ 7
   9 │ 4.5
  10 │ missing
  11 │ 5
  12 │ 8
  13 │ 8.5
  14 │ 6
  15 │ 5.5
  16 │ 9
  17 │ 7.5

In [24]:
df[!, :bathrooms] = passmissing(parse).(Float64, df[:, :bathrooms])

99492-element Vector{Union{Missing, Float64}}:
 1.0
 1.5
 2.0
 1.0
 1.0
 1.5
 2.0
 2.0
 1.0
 2.0
 2.5
 3.0
 2.0
 ⋮
 1.5
 2.0
 1.0
 1.0
 1.0
 1.0
 1.0
 1.0
 2.0
 1.0
 1.0
 1.5

In [22]:
passmissing(parse).(Float64, ["122.2", "2", missing])

3-element Vector{Union{Missing, Float64}}:
 122.2
   2.0
    missing

In [ ]:
unique(df[!, [:bathrooms]])